<div class="w-full px-3 py-6">
    <div class="bg-white border rounded-lg shadow-lg">
        {{'product-1' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100'}}
        <div class="flex flex-col p-4">
            <spn class="text-sm text-gray-400">Vender</spn>
            <spn class="text-lg font-medium text-gray-700 uppercase y-2">Placeholder title</spn>
            <spn class="text-base text-gray-500">{{'9999' | money}}</spn>
        </div>
    </div>
</div>