<div class="flex flex-col items-center my-8">
    {% if section.settings.title != blank %}
    <h1 class="py-8 text-3xl font-medium md:my-12">{{section.settings.title}}</h1>
    {% endif %}
    {% form 'contact' %}
    {% if form.errors %}
    <div class="p-5 border">
        <div class="flex flex-row items-center w-full my-3">
            <div class="text-red-500">
                {% render 'icon-failed' %}
            </div>
            <div class="ml-3 text-sm font-medium">
                Oh no! Invalid Input.
            </div>
        </div>
        <ul class="px-4 mb-4 list-decimal ml-7">
            {% for error in form.errors %}
            <li>
                <span>
                    {{form.errors.messages[error]}}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else if form.posted_successfully? %}
    <div class="flex flex-row items-center w-full my-3">
        <div class="text-green-500">
            {% render 'icon-sucess' %}
        </div>
        <div class="ml-3 text-sm font-medium">
            Message Submitted successfully.
        </div>
    </div>

    {% endif %}
    <div class="flex items-center justify-center flex-1 max-w-6xl px-4 mx-auto">
        <div class="flex px-1 mb-3">
            <div class="px-3 md:w-1/2">
                <label for="contact_name">Name</label>
                <input class="w-full px-4 py-3 mb-3 text-gray-700 border" type="contact_name" name="contact[name]"
                    id="contact_name">
            </div>
            <div class="px-3 md:w-1/2">
                <label for="contact_email">Email </label>
                <input class="w-full px-4 py-3 mb-3 text-gray-700 border" type=" email" name="contact[email]"
                    id="contact_email">
            </div>
        </div>
    </div>
    <div class="flex px-1 mb-3">
        <div class="w-full px-3">
            <label for="contact_message">Contact Message</label>
            <textarea class="w-full px-4 py-3 mb-3 text-gray-700 border hover:text-gray-900" name="contact[body]"
                id="contact_message" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="flex px-1 mb-3">
        <div class="w-full px-3">
            <input
                class="w-full px-4 py-3 mb-3 text-base font-medium text-white bg-gray-700 border cursor-pointer hover:text-gray-900"
                type="submit" value="Submit Message">

        </div>
    </div>
    {% endform %}
</div>


{% schema %}
{
"name": "Contact Form",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"

}
],
"presets": [

{
"name": "Contact Form"
}
]
}
{% endschema %}