<section>
    <h1>{{ product.title | escape }}</h1>

    <p>{{ product.price | money }}</p>

    {% form 'product', product %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <button type="submit">Add to cart</button>
    {% endform %}
</section>