<div class="items-center justify-center h-full px-6 py-12 md:px-4 lg:px-8"
    x-data="{LoginForm: true, pwRecoverFoam: false}">
    <div class="w-full max-w-md mx-auto space-x-8" x-show="LoginForm">
        <div>
            <h1 class="mt-6 text-3xl font-bold text-center">Sign In</h1>
        </div>
        <div class="mt-8">
            {% form 'customer_login' %}
            {% if form.errors %}
            <div class="relative px-4 py-3 text-red-500 bg-red-100 border border-red-500 " role="alert">
                <p>{{form.errors | default_errors}} </p>
            </div>
            {% endif %}
            <div class="my-2">
                <input type="email" name="customer[email]" placeholder="Email" required class="w-full p-2 mb-3 border">
            </div>
            {% if form.password_needed %}
            <div class="my-2">
                <input type="password" name="customer[password]" placeholder="Password" required
                    class="w-full p-2 mb-3 border" autocomplete="password">
            </div>
            {% endif %}

            <div class="my-2 text-sm" x-on:click="{pwRecoverFoam= true; LoginForm= false}">
                <a href="#" class="text-gray-500 underline hover:text-gray-900">Recover Your Password</a>
            </div>
            <div>
                <button class="w-full p-2 text-white bg-black">Login</button>
            </div>
            <a href="{{ routes.account_register_url }}" class="block mt-3 text-center">
                Create Account
            </a>
            {% endform %}
        </div>
    </div>
    <div class="w-full max-w-md mx-auto space-x-8" x-show="pwRecoverFoam">
        <div>
            <h1 class="mt-6 text-3xl font-bold text-center">Recover your Password</h1>
        </div>

        <div class="mt-8">
            {% form 'recover_customer_password' %}
            {% if form.errors %}
            <div class="relative px-4 py-3 text-red-500 bg-red-100 border border-red-500 " role="alert">
                <p>{{form.errors | default_errors}} </p>
            </div>
            {% endif %}
            <div class="my-2">
                <input type="email" name="email" placeholder="Email your Email" required class="w-full p-2 mb-3 border">
            </div>

            <div class="my-2 text-sm" x-on:click="{pwRecoverFoam= false ; LoginForm= true}">
                <a href="">Back to Login</a>
            </div>
            <div class="">
                <button class="w-full p-2 text-white bg-black">Recover Password</button>
            </div>
            {% endform %}
        </div>
    </div>
</div>